.container {
  flex: 1;
  background: radial-gradient(circle, #0f3c6e, #020617);

  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-menu {
  position: relative;
  width: 350px;
  height: 350px;
}

.profile {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Itens */
.item {
  position: absolute;
  background: rgba(255, 255, 255, 0.15);
  border: none;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}

/* posições */
.top {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.left {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.right {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
